body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("about us.png") no-repeat center center fixed;
  background-size: cover;
}
.Content {
  display:inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  gap: 20px;
  margin-left: 15px;
  margin-right: 15px;

}
.info {
  text-align: center;
  color: rgb(0, 0, 0);
  border: 2px solid #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px rgb(16, 0, 0);
  background-color:azure;
  margin: 15px auto;
  flex:1;
}
img {
  width: 200px;
  height: 200px;
}
p{
  font-size: 16px;
  color: #333333;
  text-align: left;
}
.login{
  border: 1px solid #4a9fd4;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 13px;
  width: fit-content;
}
.btn{
  width: 60%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.header{
    align-items: center;
    text-align: center;
    color: #c8a96e;
    margin: 15px auto;


}